/* @font-face {
    font-family: "";
    src: url('../fonts/fot-newrodin-pro/FOTNewRodin\ Pro\ DB.otf') format('opentype');
    font-style: normal;
  } */

@font-face { 
    font-family: "Helvetica Neue";
    src: url('src/fonts/Helvetica Neue/Helvetica Neue Regular');
    font-style:  normal;
}